/* Global Styles */
:root {
  --bg-color-dark: #242424;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --primary-color: #2575fc;
  --card-bg: #fff;
  --skill-bg: #282c34;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  overflow-x: hidden;
}

/* Links */
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* Headings */
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

/* Buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color-dark: #fff;
    --text-color-dark: #213547;
    --card-bg: #f9f9f9;
    --skill-bg: #f0f0f0;
  }
  a:hover {
    color: #747bff;
  }
}
